<%- include('partials/header'); -%>

<div class="profile">
    <img class="profile-img" src="" alt="">
    <div class="profile-info">
        <p class="email"><%= username %></p>
        <p class="email"><%= firstName %></p>
        <p class="email"><%= lastName %></p>
    </div>
    <a class="write-btn btn" href="/write-post" type="button">WRITE A POST</a>
</div>


<%- include('partials/footer'); -%>