<%- include('partials/header'); -%>

<div class="container profile">
    <div class="container profile-left">
        <img class="profile-img" src="" alt="">
    </div>
    <div class="profile-middle">
        <p class="email"><%= username %></p>
        <div class="name-info">
            <p class="email"><%= firstName %></p>
            <p class="email last-Name"><%= lastName %></p>
        </div>
    </div>
    <div class="container profile-right">
        <a class="write-btn btn" href="/write-post" type="button">WRITE A POST</a>
    </div>
</div>


<%- include('partials/footer'); -%>